<!-- app/views/cocktails/index.html.erb -->
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="index-title">
        <h1 class="text-primary">All our Cocktails <%= "(#{@total})" if @query.nil? %></h1>
        <% if @query %>
          <p>You searched for <em class="text-primary">"<%= @query %>"</em>.. We found <strong class="text-primary"><%= @cocktails.count %></strong> cocktails out of <strong><%= @total %></strong> on our website.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>')">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to '', cocktail_path(cocktail), class: 'card-link' %>
        </div>

      </div>
    <% end %>

  </div>

</div>
