<!-- app/views/cocktails/index.html.erb -->
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1>All our Cocktails <%= "(#{@total})" if @query.nil? %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @query %>
        <p>You searched for <em class="text-primary">"<%= @query %>"</em>.. We found <strong class="text-primary"><%= @cocktails.count %></strong> cocktails out of <strong><%= @total %></strong> on our website.</p>
      <% end %>
    </div>
  </div>

  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <%= link_to cocktail_path(cocktail) do %>
          <div class="cocktail-card">
            <div class="cocktail-card-image" style="background-image: url(<%= cl_image_path cocktail.photo.url(:thumbnail) %>)"></div>
            <div class="cocktail-card-content">
              <div class="cocktail-card-title">
                <h4><%= cocktail.name %></h4>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>

</div>
