<!-- app/views/cocktails/index.html.erb -->
<div class="container">

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("yfov2dbiplkpch0us7zy",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("tokfl97xbxultgc6qjoo",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

  <div class="row">
    <div class="col-xs-12">
      <h1>All our Cocktails <%= "(#{@total})" if @query.nil? %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @query %>
        <p>You searched for <em class="text-primary">"<%= @query %>"</em>.. We found <strong class="text-primary"><%= @cocktails.count %></strong> cocktails out of <strong><%= @total %></strong> on our website.</p>
      <% end %>
    </div>
  </div>
  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <%= link_to cocktail_path(cocktail) do %>
          <div class="cocktail-card">
            <div class="cocktail-card-image" style="background-image: url(<%= cocktail.picture_url %>)"></div>
            <div class="cocktail-card-content">
              <div class="cocktail-card-title">
                <h4><%= cocktail.name %></h4>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>
