<!-- app/views/cocktails/show.html.erb -->
<div class="container">
  <h1><%= @cocktail.name %></h1>

  <hr>

  <h2>Ingredients:</h2>
  <ul class="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
        <li>
          <% if dose.valid? %>
            <strong><%= dose.description %></strong>:

            <%= dose.ingredient.name %>

            <%= link_to dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>

  <h3>New dose</h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, input_html: { class: 'select2' } %>
    <%= f.submit class: 'btn btn-default' %>
  <% end %>

  <hr>

  <h2>Reviews:</h2>
  <ul class="list-unstyled">
    <% @cocktail.reviews.each do |review| %>
      <li>
        <% if review.valid? %>
          <% review.rating.times do %>
            <i class="fas fa-fire"></i>
          <% end %>
          <%= review.content %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>New review</h3>
  <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.submit class: "btn btn-default" %>
  <% end %>
</div>
