<!-- app/views/cocktails/show.html.erb -->
<div class="house" style="background-image: url(<%= @cocktail.picture_url %>)"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <div class="cocktail-show-card">
        <h1><%= @cocktail.name %></h1>
      </div>

      <div class="cocktail-show-card">
        <h3>Ingredients:</h3>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
              <li>
                <% if dose.valid? %>
                  <strong><%= dose.description %>:</strong>

                  <%= dose.ingredient.name %>

                  <%= link_to dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
                          <i class="far fa-trash-alt"></i>
                        <% end %>
                <% end %>
              </li>
          <% end %>
        </ul>

      </div>

      <div class="cocktail-show-card">
        <h3>Reviews:</h3>
        <div>
          <ul class="list-unstyled">
            <% @cocktail.reviews.each do |review| %>
              <li>
                <% if review.valid? %>
                  <% review.rating.times do %>
                    <i class="fas fa-fire"></i>
                  <% end %>
                  <%= review.content %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="cocktail-show-card">
        <h3>New Dose</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description, label: 'Quantity' %>
          <%= f.association :ingredient, input_html: { class: 'select2' } %>
          <%= f.submit 'Add', class: 'btn btn-default' %>
        <% end %>
      </div>

      <div class="cocktail-show-card">
        <h3>New Review</h3>
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: 0..5 %>
          <%= f.submit 'Add', class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
