<!-- app/views/cocktails/show.html.erb -->
<div class="cocktail" style="background-image: url('<%= cl_image_path @cocktail.photo %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <div class="cocktail-show-card">
        <h1><%= @cocktail.name %></h1>
      </div>

      <div class="cocktail-show-card">
        <h3>Ingredients:</h3>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
              <li>
                <% if dose.valid? %>
                  <%= render 'components/dose', dose: dose %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="cocktail-show-card">
        <h3>Reviews:</h3>
        <div>
          <ul class="list-unstyled">
            <% @cocktail.reviews.each do |review| %>
              <li>
                <% if review.valid? %>
                  <%= render 'components/review', review: review %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="cocktail-show-card">
        <h3>New Dose</h3>
        <%= render 'components/form_dose', cocktail: @cocktail, dose: @dose %>
      </div>

      <div class="cocktail-show-card">
        <h3>New Review</h3>
        <%= render 'components/form_review', cocktail: @cocktail, review: @review %>
      </div>
    </div>
  </div>
</div>
